<div role="toolbar" class="ui-toolbar ui-widget ui-widget-header ui-corner-all ui-helper-clearfix" style="margin: 5px;">
  <div class="p-grid p-justify-between p-align-center text-center">
    <h3 class="p-col ui-toolbar-text"><b>Vehicle Data Dashboard</b> - Visualize and interact with EV data in a
      user-friendly way.</h3>
  </div>
</div>
<div style="margin: 5px;">
  <p-table #events [value]="evData" [columns]="visibleColumns" [paginator]="true" [first]="0" [rows]="20"
    [totalRecords]="evData.length" [rowsPerPageOptions]="[20, 40, 100, 200]" [showCurrentPageReport]="true"
    paginatorDropdownAppendTo="body" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="globalFilterFields" [resizableColumns]="true" columnResizeMode="fit" [scrollable]="true"
    [scrollHeight]="enableFilters ? 'calc(100vh - 300px)' : 'calc(100vh - 250px)'" selectionMode="single">
    <ng-template pTemplate="caption">
      <ng-container *ngTemplateOutlet="tableCaptionOutlet; context: { events: events }"></ng-container>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="width-50 text-center"></th>
        <th class="p-0" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
          <div class="elipseText">
            {{ col.header }}
            <p-sortIcon [field]="col.field" class="text-right" ariaLabel="Sort"></p-sortIcon>
          </div>
        </th>
      </tr>
      <tr *ngIf="enableFilters">
        <th class="width-50 text-center"></th>
        <th *ngFor="let col of columns">
          <div>
            <input *ngIf="col.filter" #input class="w-100-p" pInputText type="text" pTooltip="Filter this column"
              (input)="events.filter(input.value, col.field, 'contains')" />
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-columns="columns" let-rowIndex="rowIndex">
      <tr [pReorderableRow]="rowIndex" pSortableRow>
        <td class="px-0 text-center">
          <i class="font-18 pi pi-bars" pTooltip="Drag" [pReorderableRowHandle]="rowIndex"></i>
        </td>
        <td *ngFor="let col of columns">
          <div>{{ row[col.field] }}</div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">
          <ng-container *ngIf="loading">Loading...</ng-container>
          <ng-container *ngIf="!loading && emptyTable">No records found</ng-container>
          <ng-container *ngIf="error">Error loading data</ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <col style="width: 4%; min-width: 50px;">
      <colgroup>
        <col *ngFor="let col of columns" style="width: 120px;" />
      </colgroup>
    </ng-template>
  </p-table>

  <!-- Caption Outlet -->
  <ng-template #tableCaptionOutlet let-events="events">
    <div class="p-grid p-align-center p-justify-between height-20">
      <div class="p-col-fixed">
        <div style="font-size: 16px;">
          <strong>Electric Vehicle Data</strong>
        </div>
      </div>
      <div class="ui-inputgroup" style="margin-right: 10px;">
        <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
        <input #searchInput type="text" pInputText placeholder="Search"
          (input)="events.filterGlobal(searchInput.value, 'contains')" />
      </div>
      <div class="p-col-fixed p-grid p-align-center" style="margin: 0px;">
        <!-- Search -->

        <!-- Toggle Columns Button -->
        <p-multiSelect style="margin-right:10px;" [options]="cols"
          [(ngModel)]="selectedCategories" optionLabel="header" [displaySelectedLabel]="false" dropdownIcon="pi pi-cog" defaultLabel="Columns"
          pTooltip="Toggle Columns" tooltipPosition="top" [panelStyle]="{ minWidth: '200px' }"
          (onChange)="updateColumnVisibility()">
        </p-multiSelect>

        <!-- Filter Button -->
        <button pButton icon="pi pi-filter" class="btn-icon" style="margin-right: 10px" (click)="toggleFilters()"
          pTooltip="Column Filter" tooltipPosition="bottom"></button>

        <!-- Export Button -->
        <button pButton icon="pi pi-file-excel" class="btn-icon" pTooltip="Export CSV" tooltipPosition="bottom"
          (click)="events.exportCSV()"></button>
      </div>
    </div>
  </ng-template>
</div>